@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
.all {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
  color: #36AEEA;
  color: #16B5EF;
  color: #95A5AD;
  color: #9DAEB6;
  color: #949494;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow: scroll;
}

@media (max-width: 770px) {
  body.lock {
    overflow: hidden;
  }
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

p {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  height: auto;
  background-image: url(../img_new/96462.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.header .navbar {
  width: 100%;
  height: 85px;
  background: rgba(250, 250, 250, 0.3);
  transition: 0.3s all;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.header .navbar_fixed {
  position: fixed;
  top: 0;
  left: 0;
  animation: show_header 0.5s;
  background-color: #fff;
}

.header .navbar-2 {
  display: none;
  width: 100%;
  height: 85px;
}

.header .navbar-2_fixed {
  display: block;
}

@keyframes show_header {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.header__logo p {
  margin: 0;
  font-size: 29px;
  font-weight: regular;
  color: #95A5AD;
  cursor: pointer;
}

.header__logo p span {
  color: #36AEEA;
}

.header__menu {
  width: auto;
  padding: 0 23vw 0 0;
}

.header__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 21px;
  padding-left: 0;
}

.header__list li a {
  font-size: 12px;
  font-weight: bold;
  color: #9DAEB6;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  padding: 0 10px 0 10px;
  position: relative;
}

.header__list li a::after {
  display: block;
  position: absolute;
  left: 10%;
  width: 0;
  height: 2px;
  background-color: #36AEEA;
  content: "";
  transition: width 0.2s ease-out;
}

.header__list li a:hover {
  color: #36AEEA;
}

.header__list li a:hover::after {
  width: 80%;
}

.header__burger {
  display: none;
}

.header__button button {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #36AEEA;
  height: 45px;
  width: 150px;
  background-color: transparent;
  border: 2px solid #36AEEA;
  outline: none;
  transition: 0.2s all;
  border-radius: 5px;
}

.header__button button:focus, .header__button button:active {
  outline: none;
}

.header__button button:hover {
  background-color: #36AEEA;
  color: white;
}

.header__banner {
  width: 100%;
  margin-top: 7vw;
  padding-bottom: 7vw;
}

.header__burger.active:before {
  transform: rotate(45deg);
  margin-top: 9px;
}

.header__burger.active:after {
  transform: rotate(-45deg);
  margin-bottom: 9px;
}

.header__burger.active span {
  transform: scale(0);
}

@media (max-width: 1000px) {
  .header .header__menu {
    padding: 0;
  }
}

@media (max-width: 770px) {
  .header .container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .header__button {
    margin-top: 15px;
  }
  .header__button button {
    font-size: 10px;
    font-weight: bold;
    color: #36AEEA;
    height: 35px;
    width: 105px;
  }
  .header .navbar .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .header .header__logo p {
    margin-top: 15px;
    font-size: 18px;
    font-weight: regular;
    color: #95A5AD;
  }
  .header .header__list {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header .header__list li {
    padding: 75px 25px 0 25px;
  }
  .header .header__list li a {
    font-size: 22px;
    font-weight: bold;
    color: #9DAEB6;
  }
  .header .header__list li a:focus {
    color: #36AEEA;
  }
  .header .header__link {
    margin-top: 20px;
  }
  .header .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    margin-top: 15px;
  }
  .header .header__burger::after, .header .header__burger::before, .header .header__burger span {
    content: '';
    background-color: #36AEEA;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header .header__burger::after {
    bottom: 0;
  }
  .header .header__burger::before {
    top: 0;
  }
  .header .header__burger span {
    top: 9px;
  }
  .header .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 45px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header .header__menu.active {
    top: 0;
    padding-top: 60px;
  }
}

.banner {
  width: 100%;
  border: 2px solid white;
  padding: 20px;
}

.banner__title {
  text-align: center;
}

.banner__title p {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #36AEEA;
}

.banner__title p span {
  font-size: 60px;
  font-weight: regular;
  color: white;
}

.banner__text {
  text-align: center;
  width: 465px;
  margin: 0 auto;
}

.banner__text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: regular;
  color: white;
}

.banner__button {
  margin-top: 45px;
}

.banner__button button {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  height: 60px;
  width: 250px;
  border: 2px solid #36AEEA;
  background-color: #36AEEA;
  outline: none;
  transition: 0.2s all;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.banner__button button:focus, .banner__button button:active {
  outline: none;
}

@media (max-width: 770px) {
  .banner__title p {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #36AEEA;
  }
  .banner__title p span {
    font-size: 40px;
    font-weight: regular;
    color: white;
  }
  .banner__text {
    text-align: center;
    width: 250px;
    margin: 0 auto;
  }
  .banner__text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: regular;
    color: white;
  }
  .banner__button button {
    font-size: 12px;
    font-weight: bold;
    color: white;
    height: 45px;
    width: 175px;
  }
}

.blog {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: auto;
  position: relative;
  background-color: #F6F4F4;
  background-image: url(../img_new/Vector_Smart_Object@2x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% 90%;
}

.blog__content {
  margin-top: 12vw;
  height: 360px;
  width: 300px;
  z-index: 10;
}

.blog .container {
  display: flex;
}

.blog__title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.blog__text {
  font-size: 14px;
  font-weight: regular;
  color: #949494;
}

.blog__button button {
  font-size: 12px;
  font-weight: bold;
  color: white;
  height: 40px;
  width: 130px;
  border: 2px solid #36AEEA;
  background-color: #36AEEA;
  outline: none;
  transition: 0.2s all;
  border-radius: 5px;
}

.blog__button button:focus, .blog__button button:active {
  outline: none;
}

.blog__img-1 {
  position: absolute;
  width: 350px;
  height: 350px;
  z-index: 2;
  left: 37%;
  top: 30%;
}

.blog__img-1 img {
  width: 100%;
  height: 100%;
}

.blog__img-2 {
  position: absolute;
  width: 775px;
  height: 495px;
  z-index: 1;
  right: 100px;
  top: -25px;
}

.blog__img-2 img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1450px) {
  .blog .container {
    max-width: 1000px;
  }
  .blog .blog__img-1 {
    display: none;
  }
  .blog .blog__img-2 {
    position: relative;
    top: 0;
    left: 7vw;
    margin-top: 50px;
    height: 50%;
    width: 50%;
  }
}

@media (max-width: 770px) {
  .blog .blog__content {
    height: 175px;
    width: 175px;
    max-width: 300px;
    margin: 25px auto;
    padding: 15px;
  }
  .blog .blog__img-2 {
    left: 0;
    margin-top: 25px;
    padding-bottom: 5vw;
  }
  .blog .blog__title {
    font-size: 14px;
  }
  .blog .blog__text {
    font-size: 10px;
  }
  .blog .blog__button button {
    font-size: 10px;
    height: 30px;
    width: 100px;
  }
}

.journal {
  width: 100%;
  height: auto;
  font-family: 'Open Sans', sans-serif;
}

.journal__header {
  margin-top: 100px;
  margin-bottom: 70px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.journal__block {
  width: 100%;
  height: auto;
}

.journal__block .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.journal__item-img, .journal__item-text {
  width: 370px;
  height: 370px;
  background-color: #F6F4F4;
  position: relative;
}

.journal__img img {
  width: 100%;
  height: 100%;
}

.journal__triangle-1, .journal__triangle-2, .journal__triangle-3 {
  width: 0;
  height: 0;
  position: absolute;
}

.journal__triangle-1 {
  border-right: 15px solid #F6F4F4;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: 0;
  top: 55px;
}

.journal__triangle-2 {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #F6F4F4;
  left: 55px;
  bottom: 0;
}

.journal__triangle-3 {
  border-left: 15px solid #F6F4F4;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: 0;
  top: 55px;
}

.journal__item-text {
  padding: 20px;
}

.journal__title {
  padding: 25px 0 35px 0;
  margin: 0 auto;
  font-size: 11px;
  font-weight: bold;
  color: #16B5EF;
}

.journal__subtitle {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  line-height: 2;
  letter-spacing: 2px;
  height: 80px;
  width: 100%;
}

.journal__text {
  font-size: 14px;
  font-weight: regular;
  color: #777777;
}

.journal__number {
  padding-top: 25px;
  font-size: 14px;
  font-weight: regular;
  color: #333;
}

@media (max-width: 1200px) {
  .journal__item-img:nth-child(1) {
    order: 2;
  }
  .journal__item-text:nth-child(2) {
    order: 1;
  }
  .journal__item-img:nth-child(3) {
    order: 3;
  }
  .journal__item-text:nth-child(4) {
    order: 4;
  }
  .journal__item-img:nth-child(5) {
    order: 6;
  }
  .journal__item-text:nth-child(6) {
    order: 5;
  }
  .journal__triangle-1 {
    border-left: 15px solid #F6F4F4;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: none;
    left: 0;
    top: 55px;
  }
  .journal__triangle-2 {
    border-right: 15px solid #F6F4F4;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: none;
    left: 355px;
    right: 0;
    top: 55px;
  }
  .journal__triangle-3 {
    border-left: 15px solid #F6F4F4;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: 0;
    top: 55px;
  }
}

@media (max-width: 990px) {
  .journal__item-img:nth-child(1) {
    order: 2;
  }
  .journal__item-text:nth-child(2) {
    order: 1;
  }
  .journal__item-img:nth-child(3) {
    order: 4;
  }
  .journal__item-text:nth-child(4) {
    order: 3;
  }
  .journal__item-img:nth-child(5) {
    order: 6;
  }
  .journal__item-text:nth-child(6) {
    order: 5;
  }
  .journal__triangle-1, .journal__triangle-2, .journal__triangle-3 {
    border-left: 10px solid transparent;
    border-top: 15px solid #F6F4F4;
    border-right: 10px solid transparent;
    left: 47%;
    top: 0;
  }
}
