@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
.all {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
  color: #36AEEA;
  color: #95A5AD;
  color: #9DAEB6;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow: scroll;
}

@media (max-width: 770px) {
  body.lock {
    overflow: hidden;
  }
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

p {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  height: 680px;
  background-image: url(../img_new/96462.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.header .navbar {
  width: 100%;
  height: 85px;
  background: rgba(250, 250, 250, 0.3);
  transition: 0.3s all;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.header .navbar_fixed {
  position: fixed;
  top: 0;
  left: 0;
  animation: show_header 0.5s;
  background-color: #fff;
}

.header .navbar-2 {
  display: none;
  width: 100%;
  height: 85px;
}

.header .navbar-2_fixed {
  display: block;
}

@keyframes show_header {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.header__logo p {
  margin: 0;
  font-size: 29px;
  font-weight: regular;
  color: #95A5AD;
  cursor: pointer;
}

.header__logo p span {
  color: #36AEEA;
}

.header__menu {
  width: auto;
  padding: 0 23vw 0 0;
}

.header__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 21px;
  padding-left: 0;
}

.header__list li a {
  font-size: 12px;
  font-weight: bold;
  color: #9DAEB6;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  padding: 0 10px 0 10px;
  position: relative;
}

.header__list li a::after {
  display: block;
  position: absolute;
  left: 10%;
  width: 0;
  height: 2px;
  background-color: #36AEEA;
  content: "";
  transition: width 0.2s ease-out;
}

.header__list li a:hover {
  color: #36AEEA;
}

.header__list li a:hover::after {
  width: 80%;
}

.header__burger {
  display: none;
}

.header__button button {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #36AEEA;
  height: 45px;
  width: 150px;
  background-color: transparent;
  border: 2px solid #36AEEA;
  outline: none;
  transition: 0.2s all;
  border-radius: 5px;
}

.header__button button:focus, .header__button button:active {
  outline: none;
}

.header__button button:hover {
  background-color: #36AEEA;
  color: white;
}

.header__banner {
  width: 100%;
  margin-top: 135px;
}

.header__burger.active:before {
  transform: rotate(45deg);
  margin-top: 9px;
}

.header__burger.active:after {
  transform: rotate(-45deg);
  margin-bottom: 9px;
}

.header__burger.active span {
  transform: scale(0);
}

@media (max-width: 1000px) {
  .header .header__menu {
    padding: 0;
  }
}

@media (max-width: 770px) {
  .header .container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .header .navbar .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .header .header__list {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header .header__list li {
    padding: 75px 25px 0 25px;
  }
  .header .header__list li a {
    font-size: 22px;
    font-weight: bold;
    color: #9DAEB6;
  }
  .header .header__list li a:focus {
    color: #36AEEA;
  }
  .header .header__link {
    margin-top: 20px;
  }
  .header .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header .header__burger::after, .header .header__burger::before, .header .header__burger span {
    content: '';
    background-color: #36AEEA;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header .header__burger::after {
    bottom: 0;
  }
  .header .header__burger::before {
    top: 0;
  }
  .header .header__burger span {
    top: 9px;
  }
  .header .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 45px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header .header__menu.active {
    top: 0;
    padding-top: 60px;
  }
}

.banner {
  width: 100%;
  border: 2px solid white;
  padding: 25px;
}

.banner__title {
  text-align: center;
}

.banner__title p {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #36AEEA;
}

.banner__title p span {
  font-size: 60px;
  font-weight: regular;
  color: white;
}

.banner__text {
  text-align: center;
  width: 465px;
  margin: 0 auto;
}

.banner__text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: regular;
  color: white;
}

.banner__button {
  margin-top: 45px;
}

.banner__button button {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  height: 60px;
  width: 250px;
  border: 2px solid #36AEEA;
  background-color: #36AEEA;
  outline: none;
  transition: 0.2s all;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.banner__button button:focus, .banner__button button:active {
  outline: none;
}
